{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        Saisissez une ville svp:
        <form action="{{ path('QueryWeatherCity') }}" method="GET">
            <input type="text" name="query" placeholder="New York, Istanbul, Bobo Dioulasso..." />
            <button>Chercher</button>
        </form>

        Vous avez déjà cherché ceci:
        <ul>
            {% for ligne in historique %}
                <li>
                    {{ ligne.query|upper }} - <i>{{ ligne.date|date("d M Y H:i:s") }}</i>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
