{% extends 'base.html.twig' %}


{% block title %}
    Erreur!
{% endblock %}


{% block body %}
    <h1>Vous avez recherché: {{cityName}}</h1>

    <p>{{message}}</p>

    <a class="btn btn-success" href="{{ path('HomePage') }}">Revenir à l'accueil</a>
{% endblock %}